<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<!-- 商品管理的service -->
	<!-- 配置ItemsService的实现类
	id为itemsService而不是itemsServiceImpl目的是为了实现
		@Autowired
		private ItemsService itemsService;
	的自动装备bean
	 -->
	<bean id="itemsService" class="com.liuning.service.ItemsServiceImpl"/>

</beans>