<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		">
		
	<!-- 用户管理的service -->
	<bean id="userService" class="com.liuning.service.account.UserService"/>
	<bean id="memberService" class="com.liuning.cache.MemberService"/>

	<bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager"/>

</beans>